# Solo en el servidor (nunca con prefijo NEXT_PUBLIC_)
LIVEPEER_API_KEY=65aa37ff-07d6-4d86-9d31-3291260e1c28
LIVEPEER_STREAM_ID=c36b6222-3da1-452c-a26e-7732b68604f5
NEXT_PUBLIC_CHANNEL_NAME=Mi canal santtez
